h1.heading{
    font-family:verdana;
    text-align:center;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 10px;
    margin-left: 4em;
    margin-right: 4em;
}
p.center{
    font-family:verdana;
    text-align:center;
    font-weight: bold;
}
a.button{
    border: 1px solid coral;
    background-color: coral;
    padding: 10px 10px;
}
p.intro{
    font-family:verdana;
    padding: 20px 40px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-left: 10em;
    margin-right: 10em;

}

p.about{
    font-family:verdana;
    padding: 20px 40px;
    text-align:left;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    margin-left: 10em;
    margin-right: 10em;

}

span.title{
    font-family:verdana;
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
details.manual{
    font-family:"Courier New";
    padding: 20px 40px;
    text-align:center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-left: 10em;
    margin-right: 10em;
    background-image: url("paper_texture.jpg");
    background-size: cover;
}

details.exam{
    font-family:"Courier New";
    padding: 20px 40px;
    text-align:center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-left: 10em;
    margin-right: 10em;
    background-image: url("lined_paper.jpg");
    background-size: cover;
}

.topnav {
    font-family:verdana;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: coral;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: coral;
    color: white;
}

footer {
    width: 100%;
    bottom:10px;
    position: fixed;
    text-align: center;
    color: white;
    font-weight: bold;
}
